{% extends "base.html" %}

{% block htmltitle %}
    <title>MWSE-Lua Modding Tutorial - Based Morrowind Modding now using Lua!</title>
{% endblock %}

{% block site_meta %}
    <!-- Primary Meta Tags -->
    <meta name="title" content="MWSE-Lua Modding Tutorial - Based Morrowind Modding now using Lua!">
    <meta name="description" content="Learn to use MWSE-Lua in this tutorial for beginners! You will learn the basics of MWSE-Lua and make a MWSE-Lua mod step-by-step.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://amaliegay.github.io/mwse-modding-tutorial/">
    <meta property="og:title" content="MWSE-Lua Modding Tutorial - Based Morrowind Modding now using Lua!">
    <meta property="og:description" content="Learn to use MWSE-Lua in this tutorial for beginners! You will learn the basics of MWSE-Lua and make a MWSE-Lua mod step-by-step.">
    <meta property="og:image" content="https://raw.githubusercontent.com/amaliegay/mwse-modding-tutorial/main/docs/assets/social-preview.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://amaliegay.github.io/mwse-modding-tutorial/">
    <meta property="twitter:title" content="MWSE-Lua Modding Tutorial - Based Morrowind Modding now using Lua!">
    <meta property="twitter:description" content="Learn to use MWSE-Lua in this tutorial for beginners! You will learn the basics of MWSE-Lua and make a MWSE-Lua mod step-by-step.">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/amaliegay/mwse-modding-tutorial/main/docs/assets/social-preview.png">
{% endblock %}